<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List all resource
          <i class="fa fa-plus" aria-hidden="true" (click)="create()"></i>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-bordered">
            <thead class="">
            <tr>
              <th class="text-center">STT</th>
              <th class="text-center">Title</th>
              <th class="text-center">Body</th>
              <th class= "text-center">UserId</th>
              <th style="min-width: 83px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of resources; let i = index">
              <td class="text-center">{{ i + 1 }}</td>
              <td class="text-left"><a [routerLink]="['edit', item.id]">{{item.title}}</a></td>
              <td class="text-left">{{item.body}}</td>
              <td class="text-center">{{item.userId}}</td>
              <td class="text-center"><a [routerLink]="['edit', item.id]"><i class="fa fa-pencil fa-2x mr-2" style="color:green;" aria-hidden="true"></i></a>
                <i class="fa fa-trash fa-2x" style="color:red;" aria-hidden="true" (click)="delete(item.id)"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
