<form [formGroup]="createForm">
  <h2 class="text-center mt-3">Add resource</h2>
  <div class="row mt-5">
    <div class="container">
      <div class="input-group mb-2">
        <div class="col-md-1">
          <label>Title</label>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="title">
        </div>
      </div>
      <div class="input-group mb-2">
        <div class="col-md-1">
          <label>Body</label>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="body">
        </div>
      </div>
      <div class="input-group">
        <div class="col-md-1">
          <label>User Id</label>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="userId">
        </div>
      </div>
      <div class="input-group" style="justify-content:center">
        <button class="btn btn-primary mr-2 mt-3" (click)="add()">Add</button>
        <button class="btn btn-secondary mr-5 mt-3" (click)="back()">Back</button>
      </div>
    </div>
  </div>
</form>

